*{
  margin:0; 
  padding:0; 
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #fafafa;
}

.auth-box{
 width:70vw; 
 max-width:430px; 
 height:max-content;  
 border: 2px solid red;
}

.buttons{
  display:flex; 
  justify-content: space-around;
  align-items: center;
  border-top: 1px solid black;
  padding-top:10px; 
  flex-wrap: wrap;

}
.buttons Button{
  margin:4px; 
}